3rdparty/*.bz2 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*		text eol=lf
*.ico binary
*.png binary
*.psd binary
resources/*.png filter=lfs diff=lfs merge=lfs -text
resources/*.psd filter=lfs diff=lfs merge=lfs -text
