[submodule "3rdparty/HighFive"]
	path = 3rdparty/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "3rdparty/boost/iterator"]
	path = 3rdparty/boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "3rdparty/boost/core"]
	path = 3rdparty/boost/core
	url = https://github.com/boostorg/core.git
[submodule "3rdparty/boost/histogram"]
	path = 3rdparty/boost/histogram
	url = https://github.com/boostorg/histogram.git
